### This is where custom rules for apps are set ###


## making apps open floating ##

# kitty #
for_window [class="kitty"] floating enable, move position center, resize set 1350 900

# spotify #
for_window [class="Spotify"] floating enable, move position center, resize set 1250 900

# bluetooth manager #
for_window [class="Blueman-manager"] floating enable, move position center, resize set 350 500

# arandr #
for_window [class="Arandr"] floating enable, move position center, resize set 600 500

# rp imager #
for_window [class="Imager"] floating enable

#file browser #
for_window [class="org.gnome.Nautilus"] floating enable

# audio control #
for_window [class="pavucontrol"] floating enable

# network gui #
for_window [class="nm-connection-editor"] floating enable


## makes apps launch on a certain workspace ##

# firefox #
assign [class="firefox"] $ws2

# spotify #
assign [class="Spotify"] $ws3

# FreeCAD #
assign [class="FreeCAD"] $ws4

# libreoffice #
assign [class="libreoffice"] $ws5

# gimp #
assign [class="Gimp"] $ws6

# discord #
assign [class="discord"] $ws8

# obs #
assign [class="obs"] $ws10
