## System Keybindings ##

# reload the configuration file
bindsym $mod+Shift+c reload

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar  -B 'Yes, exit i3' 'i3-msg exit'"

# reboot #
bindsym $mod+ctrl+r exec reboot

# shutdown #
bindsym $mod+ctrl+s exec "shutdown now" 

# start a terminal
bindsym $mod+Return exec kitty

# kill focused window #
bindsym $mod+q  kill

# start rofi #
bindcode $mod+40 exec "rofi -modi drun,run -show drun"

# shows only built in display #
bindsym $mod+x exec /home/steadiboi/.screenlayout/laptop.sh

## launching applications ##

# firefox #
bindsym $mod+i exec firefox

# spotify #
bindsym $mod+m exec spotify

# thunderbird #
bindsym $mod+shift+m exec thunderbird

# libreoffice suite #
bindsym $mod+shift+o exec "libreoffice"

# gimp #
bindsym $mod+g exec gimp

# discord #
bindsym $mod+shift+d exec discord

# obs #
bindsym $mod+o exec obs

# bluetooth manager #
bindsym $mod+b exec blueman-manager

# arandr #
bindsym $mod+a exec arandr

# file manager #
bindsym $mod+n exec nautilus




