## these services will start on login ##

# notifactions #
exec_always --no-start-id /usr/bin/dunst

# gets rid of black screen at login #
exec --no-startup-id xset 0 0 300

exec_always /home/steadiboi/.config/arch_scripts/auto_screens.sh

# stream deck #
exec_always --no-startup-id streamdeck

# polkit agent #
exec --no-startup-id /usr/lib/xfce-polkit/xfce-polkit

# kitty #
exec --no-startup-id kitty tmux

# firefox #
exec --no-startup-id firefox

# spotify #
exec --no-startup-id spotify

